body {
	background: #f2cbbc;
}

h1 {
	margin: 0;
	font-family: gill sans, proxima nova, helvetica, arial, sans-serif;
	font-style: bold;
	font-weight: 800;
	font-size: 90px;
	line-height: 1.5;
	letter-spacing: .05em;
	text-transform: uppercase;
	color: white;
}

h2 {
	font-family: gill sans, proxima nova, helvetica, arial, sans-serif;
	font-style: bold;
	font-weight: 600;
	font-size: 30px;
	line-height: 1.0;
	letter-spacing: .2em;
	color: white;
}

p {
	font-family: gill sans, proxima nova, helvetica, arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.0;
	letter-spacing: .1em;
	color: white;
}

.nav {
	padding: 0; /*all sides 0*/
	list-style: none;
	 
}
	
.nav li {
	display: inline-block;
}

.nav a {
	display: inline-block;
	padding: 1em;
	font-family: gill sans, proxima nova, helvetica, arial, sans-serif;
	font-style: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	background: white;
	color: #f2cbbc;
	transition: all 1s linear ease-out;
}

.nav a:hover {
	color: white;
	background: #f2cbbc;
	transition-duration: 1s;
}

.nav a:after {

}

.nav.center {
	text-align: center;
}

.nav.fit {
	display: table;
	width: 100%;
}

.nav.fit li {
	display: table-cell;
}

.nav.fit a {
	display: block;
}

.bar {
}


#primary-nav {
}