body {
	background: #c0dfd9;
}


h1 {
	margin: 0;
	font-family: gill sans, proxima nova, helvetica, arial, sans-serif;
	font-style: bold; 
	font-weight: 900;
	font-size: 120px;
	line-height: 1.5;
	letter-spacing: .1em;
	text-transform: uppercase; 
	color: white;
}

h2 {
	font-family: gill sans, proxima nova, helvetica, arial, sans-serif;
	font-style: bold; 
	font-weight: 400;
	font-size: 50px;
	line-height: 1.5;
	letter-spacing: .1em;
	color: white;
}

p {
	font-family: gill sans, proxima nova, helvetica, arial, sans-serif;
	font-style: normal; 
	font-weight: 200;
	font-size: 30px;
	line-height: 1.5;
	letter-spacing: .1em;
	color: white;
}